<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <sunmerce_remote_gallery>
                <enabled>0</enabled>
                <optimization_location>append_query</optimization_location>
                <thumb_options/>
                <image_options/>
                <full_options/>
                <listing_options/>
            </sunmerce_remote_gallery>
        </catalog>
    </default>
</config>
